.ca-filling-options {
  .ca-filling-options-note {
    display: inline-block;
    width: 5em;
    vertical-align: middle;
  }

  .ui-spinner-input {
    padding: 6px 6px 4px 6px;
    margin: 0;
    margin-right: 2em;
  }

  .ca-filling-copy > input {
    padding: 6px 6px 4px 6px;
    margin: 0 .4em;
    vertical-align: middle;

    &[type="text"] {
      width: 4.5em;
    }
  }

  .ca-filling-random > .ui-spinner {
    margin: 0 .4em;

    > input {
      width: 2.5em;
    }
  }
}
