{
  "presets": [
    ["env", { "modules": false }],
    "stage-3"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
