#ca-field {
  fieldset {
    display: inline-block;
    border: 1px solid #bbb;
    padding: 0 10px 10px 10px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    legend {
      padding: 0 5px;
    }

    &#ca-field-sizes {
      width: 250px;
    }

    &#ca-field-planes {
      width: 150px;
    }

    tr {
      height: 55px;
    }
  }
}
