/*-CSS-reset----------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------------------------------------------------------------------*/

html, body {
    font-family: sans-serif;
    height: 100%;
}

#toast-container > div {
    border-radius: 0;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.controls {
    padding: 15px 10px;
    width: 100%;
    box-sizing: border-box;
    flex: 0;

    > * {
        vertical-align: top;
        margin: 5px 1px 5px 0;
    }

    > .ui-controlgroup > .ui-controlgroup-item {
        margin-right: -1px;
    }
}

.ca-state-select {
    .ca-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border: 1px solid transparent;

        .ca-state-name {
            display: inline-block;
            font-size: 18px;
            margin-right: 5px;
            font-family: "Lucida Console", monospace;
        }

        .ca-state-color {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
            width: 16px;
            height: 16px;
            border: 1px solid black;
            box-sizing: border-box;
        }
    }
}

button,
input,
textarea,
select,
li,
.ui-selectmenu-button {
    outline: 0;
    border: 1px solid rgb(197, 197, 197);
}

.ui-button {
    padding: 6px 6px 4px 6px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-menu {
    li,
    .ui-menu-item-wrapper {
        border: 0;
    }
}

.ui-visual-focus,
.ui-state-focus {
    box-shadow: none;
}

.ui-corner {
    &-all,
    &-top,
    &-right,
    &-left,
    &-bottom,
    &-tr {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.ui-controlgroup[role="toolbar"] {
    margin-right: 3px;

    .ui-checkboxradio-label.ui-state-active {
        &,
        &:hover {
            z-index: 99;
        }

        &:hover .ui-icon,
        .ui-icon {
            background-image: url(../node_modules/jquery-ui/themes/base/images/ui-icons_ffffff_256x240.png);
        }
    }
}
